<% @comments.each do |comment| %>
  <article class="comment">
   <span class="comment_upvote"> <%= "\u21EA" %> </span>
   <span class="date_author"> <%=  comment.user.username %> <%= comment.created_at.strftime("%H") %> hours ago </span>
    <p class="comment_body"> <%= comment.body %> </p>
  </article>
<% end %>
