@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #E2E2E2;
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: white;
  background-color: black;
}

h1 {
  font-size: 2.8em;
  font-weight: 400;
  text-transform: uppercase;
}

h3 {
  font-size: 1.23em;
  text-transform: uppercase;
  letter-spacing: .04em;
}

nav {
  margin-top: 32px;
}

footer {
  height: 100px;
}

.main-container {
  background-color: #FFF;
  text-align: center;
}

.header {
  height: 175px;
  background-color: #C8C8C8;
}

.logo {
  text-align: center;
  margin-right: 13px;
}

.nav-bar {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  text-align: center;
}

.nav-bar li{
  display: inline;
  margin: 15px;
}

.post {
  height: 150px;
  padding: 15px;
  margin-bottom: 10px;
}

.form-container {
  margin-top: 25px;
}
@media (min-width: 755px) {
  .header {
    height: 100px;
  }

  .logo {
    text-align: left;
    float: left;
  }

  .nav-bar {
    font-size: 1.1em;
  }

  .nav-bar li{
    display: inline;
    margin: 0 15px;
  }

  .main-container {
    background-color: #FFF;
    border: 1px solid #595959;
    border-radius: 3px;
    text-align: left;
  }

  .post-container {
      padding: 0;
      margin: 0;
  }

  .post {
    height: 115px;
    border-bottom: 1px solid black;
    padding: 0;
    padding-left: 25px;
    margin-bottom: 0;
  }

  .post_title {
    margin-top: 35px;
  }

  .upvote {
    font-size: 1.5em;
    margin: 10px;
  }

  .date_author {
    letter-spacing: .03em;
    margin-right: 6px;
  }

  .edit-button {
    margin: 2px;
  }

}
