@import "bootstrap-sprockets";
@import "bootstrap";

footer {
  height: 100px;
}

.header {
  height: 100px;
}

.logo {
  float: left;
}

.nav-bar {
  float: left;
}

.nav-bar li{
  display: inline;
}

.post {
  height: 115px;
}
