@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #E2E2E2;
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  font-size: 1em;
}

nav {
  margin-top: 32px;
}

footer {
  height: 100px;
}

.header {
  height: 100px;
}

.logo {
  float: left;
}

.nav-bar {
  float: left;
}

.nav-bar li{
  display: inline;
}

.post {
  height: 115px;
}

.upvote {
  font-size: 1.7em;
}
