<!DOCTYPE html>
<html>
  <head>
    <title>HackerNewsNick</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="">
          <h1>Hacker News</h1>
        </div>
        <div class="">
          <ul>
            <li>new</li>
            <li>comments</li>
            <li>submit</li>
          </ul>
        </div>
        <div class="">
          <ul>
            <li>New Account</li>
            <li>Login</li>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
